# Ignore node_modules directory
node_modules/

# Ignore build files
dist/
build/

# Ignore logs
logs/
*.log

# Ignore Mac system files
.DS_Store

# Ignore environment variable files
.env

# Ignore compiled files
*.o
*.so
*.exe

# Ignore temporary files
*.tmp
*.swp
*.bak